.navlink {
    border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

.navlink:hover {
    border-color: #646cff;
}

.navlink:focus,
.navlink:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: grey;
    padding: 20px;
    width: 75vw;
}